<%= form_for(@mo) do |f| %>
  <% if @mo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mo.errors.count, "error") %> prohibited this mo from being saved:</h2>

      <ul>
      <% @mo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
