<h1>メニュー情報</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= @mo.name %></strong>
</p>

<p>
  ¥<%= @mo.price %>
</p>

<p>
  <%= new_line(@mo.memo) %>
</p>

<p>
<%= image_tag "info_#{@mo.id}.jpg" %>
</p>

<%= link_to 'メニューに戻る', mos_path %>
